{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

    <!-- Add a link to your external CSS file if you have one -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body style="background-color: #A6F6FF;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">College store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'clgstoreapp:login_view' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'clgstoreapp:register' %}">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Department
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Electronics">Bsc.Electronics</a>
                            <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Bachelor_of_Computer_Science">Bsc.Computer science</a>
                            <a class="dropdown-item" href="https://en.wikipedia.org/wiki/BCA">BCA</a>
                            <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Bachelor_of_Business_Administration">BBA</a>
                            <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Bachelor_of_Economics">BA.Economics</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% block body %}
{% endblock %}

</body>
</html>
